html, body {
    margin:0;
    box-sizing: border-box;
    display:block;
    background: #DFD0CD;
    font-weight: bold;
    overflow-x: hidden;
}

#titlecard {
    margin:0;
    border: 3px solid grey;
    height: 15%;
    background: white;
    margin-left: 15px;
    margin-right: 15px;
    display: block;
}

.titleText {
    margin:0;
    padding: 20px;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;;
    font-size: 60px;
    font-variant-caps: all-small-caps;
}

#container {
    text-align: center;
    border: 3px solid grey;
    margin-left: 15px;
    margin-right: 15px;
    background: white;
}
